/* Energy.css */

#energy {
  display: flex;
}

#energy-amount {
	width: 112px;
}

.energy-icon {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	margin: 9px;
}