/* Stars.css */

@keyframes starsfadein {
  from { filter: brightness(0); }
  to { filter: brightness(1); }
}

.star {
  position: relative;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
}

#stars {
  position: fixed;
}

#stars-container {
  position: fixed;
  top: 0px;
  z-index: -10;
  animation: starsfadein 1s 0s 1 linear;
}